<div class="how-it-works">

  <div class="single-step-wrapper">
    <div class="step-number-wrapper">
      <div class="number-and-line-wrap">
        <div class="number-circle">1</div>
        <div class="number-border-connection"></div>
      </div>
    </div>
    <div class="step-description">
      <h5 class="">Pick a dog to sponsor</h5>
      <p>Choose a dog who reminds you of a beloved pet, or a dog with a story that tugs simply at your heartstrings.
        Or why not sponsor both?</p>
    </div>
  </div>

  <div class="single-step-wrapper">
    <div class="step-number-wrapper">
      <div class="number-and-line-wrap">
        <div class="number-circle">2</div>
        <div class="number-border-connection"></div>
      </div>
    </div>
    <div class="step-description">
      <h5>Set up your sponsorship</h5>
      <p>Tell us how much you'd like to give and whether you want to give monthly or annually. For gift sponsorships
        we'll just need to know who to send doggy updates too.</p>
    </div>
  </div>

  <div class="step-single-warapper">
    <div class="step-number-wrapper">
      <div class="number-and-line-wrap">
        <div class="number-circle">3</div>
      </div>
    </div>
    <div class="step-description">
      <h5>Enjoy regular updates from your Sponsor Dog</h5>
      <p>As well as the exclusive sponsorship welcome pack you, or your giftee, will receive updates from your chosen
        sponsor dog three times a year.</p>
    </div>
  </div>

</div>
